body {
    display: flex;
    flex-direction: column;
    font-family: 'Andale', monospace;
    margin: 0px;
    color: #212529;
    background-color: #F8F9FA;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
    color: #E9ECEF;
    background-color: #2A3E65;
}

#hero h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: #212529 0px 3px;
}

#hero h4 {
    text-shadow: #212529 0px 3px;
    font-size: 1.5rem;
}

#hero li, #hero input {
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max(50px, 8vh);
    background-color: #243556;
    padding: 0px 10px;
}

nav h3 {
    color: #E9ECEF;
    padding: 10px;
}

nav h3:hover {
    background-color: #18233A;
    opacity: 0.6;
}

nav button {
    margin-left: 6px;
}

button {
    border: none;
    font-family: inherit;
    padding: 7px;
    background-color: #DEE2E6;
}

button:focus {
    outline: none;
    background-color: #CED4DA;
}

code, pre, details {
    margin: 5px;
    cursor: default;
    font-family: inherit;
    background-color: #495057;
    color: #E9ECEF;
}

summary {
    background-color: #E9ECEF;
    color: #212529;
}

summary:focus {
    outline: none;
    cursor: default;
}

summary:hover {
    text-decoration: underline;
}

#examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#examples p {
    color: #495057;
}

#examples ul, #examples ol {
    width: 40%;
}

.card {
    width: 80%;
    padding: 10px;
    box-shadow: #DEE2E6 0px 0px 2px 2px;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
}

ul {
    padding: 0px;
}

input::placeholder {
  font-family: 'Andale', monospace;
}

input:focus {
    outline: none;
}

table, th, td {
    border: 1px solid #495057;
}


a {
    text-decoration: none;
    color: inherit;
}